In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
         datetime(2011, 1, 5),
         datetime(2011, 1, 7),
         datetime(2011, 1, 8),
         datetime(2011, 1, 10),
         datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    1.405751
2011-01-05   -0.216636
2011-01-07   -0.050412
2011-01-08   -0.752196
2011-01-10    1.273465
2011-01-12    0.712813
dtype: float64

In [2]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
                    index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.124636
2000-01-02   -0.934421
2000-01-03    0.209841
2000-01-04   -1.598974
2000-01-05    0.520725
                ...
2002-09-22    0.318937
2002-09-23   -0.765795
2002-09-24    0.256491
2002-09-25   -1.351662
2002-09-26    0.699185
Freq: D, Length: 1000, dtype: float64

In [3]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.184169
2001-01-02    0.834940
2001-01-03    0.396367
2001-01-04   -1.081814
2001-01-05   -0.289667
                ...
2001-12-27   -0.411158
2001-12-28    0.272237
2001-12-29   -0.371883
2001-12-30    0.746821
2001-12-31   -0.928361
Freq: D, Length: 365, dtype: float64

In [4]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    1.700795
2001-05-02    0.151383
2001-05-03    0.152067
2001-05-04    0.763147
2001-05-05    0.119055
2001-05-06    0.513936
2001-05-07    0.450960
2001-05-08   -1.229811
2001-05-09    0.584009
2001-05-10    1.859999
2001-05-11   -0.098841
2001-05-12    0.262560
2001-05-13   -0.255708
2001-05-14    1.011577
2001-05-15   -0.203922
2001-05-16    1.083960
2001-05-17    0.722724
2001-05-18    2.135136
2001-05-19    0.840084
2001-05-20    0.400963
2001-05-21   -0.228451
2001-05-22   -0.290806
2001-05-23   -0.572744
2001-05-24   -0.887642
2001-05-25   -0.834289
2001-05-26   -0.122079
2001-05-27   -0.633293
2001-05-28    1.613695
2001-05-29   -0.544215
2001-05-30   -0.460318
2001-05-31   -0.972755
Freq: D, dtype: float64

In [5]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.124636
2000-01-02   -0.934421
2000-01-03    0.209841
2000-01-04   -1.598974
2000-01-05    0.520725
Freq: D, dtype: float64

In [7]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.953197
2000-02-02    0.273360
2000-02-03   -0.314010
2000-02-04   -1.362938
2000-02-05    0.920987
2000-02-06   -0.262869
2000-02-07    1.070712
2000-02-08   -0.052502
2000-02-09    1.513093
2000-02-10   -0.213430
2000-02-11   -0.472485
2000-02-12    0.052911
2000-02-13    0.465032
2000-02-14    0.905057
2000-02-15   -0.486902
Freq: D, dtype: float64

In [8]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26    1.954487
2000-09-27    0.292470
2000-09-28   -0.109852
2000-09-29    1.539877
2000-09-30   -1.058389
                ...
2002-09-22    0.318937
2002-09-23   -0.765795
2002-09-24    0.256491
2002-09-25   -1.351662
2002-09-26    0.699185
Freq: D, Length: 731, dtype: float64

In [9]:
print("\nDate range from 26-9-2001 to 25-9- 2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9- 2002:
 2001-09-26   -1.174542
2001-09-27   -0.022254
2001-09-28    2.313743
2001-09-29    1.556075
2001-09-30   -1.279002
                ...
2002-09-21   -1.142682
2002-09-22    0.318937
2002-09-23   -0.765795
2002-09-24    0.256491
2002-09-25   -1.351662
Freq: D, Length: 365, dtype: float64