In [1]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
'category':['A', 'B', 'A', 'B', 'A', 'B'],
'value':np.random.randint(1, 5, size=6),
'score':np.random.randint(60, 100, size=6)
})
print("\nOriginal Dataframe:\n",df)

Original Dataframe:
       Name category  value  score
0    Alice        A      2     83
1      Bob        B      1     91
2  Charlie        A      1     63
3    Alice        B      3     60
4      Bob        A      1     79
5  Charlie        B      2     61

In [2]:
#Data grouping and Aggregation: with one column sum
df1=df.groupby(('Name'),as_index=False)['value'].sum()
print("\nGroup by name and Aggregation with one column:\n",df1)

Group by name and Aggregation with one column:
       Name  value
0    Alice      5
1      Bob      2
2  Charlie      3

In [3]:
#Data grouping and Aggregation: with two column sum
df2=df.groupby(('Name'),as_index=False)[['value','score']].sum()
print("\nGroup by name and Aggregation with two column:\n",df2)

#Data grouping and Aggregation: with one column sum
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum')
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

#Group by 'Name' and calculate multiple aggregations
df4 = df.groupby('Name').agg({
'value': ['sum', 'mean', 'min', 'max'],
'score': ['sum', 'mean']})

print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and Aggregation with two column:
       Name  value  score
0    Alice      5    143
1      Bob      2    170
2  Charlie      3    124

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      5
1      Bob      2
2  Charlie      3

Group by name and multiple Aggregation functions :
         value              score
          sum mean min max   sum  mean
Name
Alice       5  2.5   2   3   143  71.5
Bob         2  1.0   1   1   170  85.0
Charlie     3  1.5   1   2   124  62.0

In [5]:
df5=df.groupby(('Name'),as_index=False)['Value'].count()
print("\n Group and Count :\n",df5)
df6=df.groupby(('Name')).count()
print("\n Group and Count :\n", df6)

KeyError: 'Column not found: Value'